<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h1>About us</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit
        numquam ea sunt perspiciatis reiciendis tenetur, nisi beatae esse.
        Dolorem, reiciendis.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit
        numquam ea sunt perspiciatis reiciendis tenetur, nisi beatae esse.
        Dolorem, reiciendis.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit
        numquam ea sunt perspiciatis reiciendis tenetur, nisi beatae esse.
        Dolorem, reiciendis.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
